/*
  ========================================
  Links
  ========================================
*/
a {
  color: #648880;
  text-decoration: none; }

a:hover {
  color: #a9b2b9; }

p a {
  border-bottom: 1px solid #dfe2e5; }

.primary-header a,
.primary-footer a {
  color: #fff; }

.primary-header a:hover,
.primary-footer a:hover {
  color: #648880; }
