

// *****************************************************************************************************************V GLOBAL V

header{
 
  
  nav{
    background-color: $aquagreen;
    overflow: hidden;
    padding-left: 3.5%;
    padding-right: 3.5%;
  }
  
  .card{
    float: left;
    width: 20%;
    padding: 0.9em 0 0.59em 0;
    
    &:hover .nav_icon{
      background-color: $darkgreen;
    }
    
    &:hover p{
      color: white;
    }
    
   .main_logo_hidden{
     display: none;
   }
    
    .nav_icon{
      width: 2.6em;
      height: 2.6em;
      border-radius: 50%;
      background-color: $flatgrey;
      margin: 0 auto;
    }
    
    p{
      text-align: center;
      font-size: 1em;
      line-height: 2;
      color: $charcoal;

      
    } 
  } 
  }

// =========================V FILTER V======
.filter_section{
  .filter_wrap{
    .filters{
    li{
      max-width: 20%;
      box-sizing: border-box;
      border: 0.25em solid $flatgrey;
      border-radius: 0.38em;
      padding: 0.7em 0 0.7em 0;
    }
  }
  }
}


  
// *****************************************************************************************************************
  /*V MEDIA QUERY (TABLET SIZE) V*/

@media screen and (min-width: 500px){
    /*V TYPOGRAPHY V*/
    body{
    h1{font-size: 3.4em;}
    h2{font-size: 2.049em;}
    h3{font-size: 1.69em;}
    h4{font-size: 1.69em;}

  }


  header{
    
  
    
   /* V HIDDEN LOGO REVEAL V*/
    .nav_icon {display:none;}
    .main_logo_hidden{
        display: block;
        position: absolute;
        width: 7.5em;
        height: 7.5em;        background-color: $flatgrey;
        border-radius: 50%;
        margin-top:2%;
    }
    
    // V NAV V ---------------
    nav{
      padding-right: 5%;
      padding-left: 5%;
      .card{
        width: 16%;
        padding: 1.4em 0 1.4em 0;
        .nav_text{font-size: 1.1em;}
        &:hover{
          box-sizing: border-box;
          padding-bottom: 0.8em;
          border-bottom: 0.6em solid $darkgreen;

          
        }

    }
      h4{
        padding: 5px 0;
      }
    }
 
    }
    .home{
      margin-left: 19%;
    }

    // V HERO V ==============
    

// =====================================================================================================================================
  /*V MEDIA QUERY (TABLET SIZE) V*/

@media screen and (min-width: 960px){

  nav{
    .main_logo_hidden{
            
    }
  }
}


  
}
