
@import "../bourbon/bourbon";



/*V FONT FORMAT V*/
p{ 
   font-size: 1.063em;
	 font-family: "museo-sans", sans-serif;
	 font-weight: 300;
	 font-style: normal;
	 line-height: 31px;
	 margin: 0px 0px 25px 5.2px;
   color: #726b6b;
   width: 50%;
}

/*v section headings v*/
h3{ 
  font-size: 43px;
	 line-height: 49px;
	 margin: 0px 0px 15px 0px;
	 font-family: "Fira Sans", sans-serif;
	 padding: 0px 1em 0px 0px;
	 font-weight: 400;
	 font-style: normal;
   margin-left: 5.3px;
	 }

/*v main heading v*/
h1{
  font-size: 52px;
	 line-height: 60px;
	 margin: 0px 0px 15px 0px;
	 font-weight: 200;
	 font-style: normal;
	 font-family: "ff-dagny-web-pro", sans-serif; 
  }

/*v not sure what this is v*/
h2{
  display: block;
  padding: 5px 0px 60px 70px; 
  color: rgba(255,255,255,0.6);
  font-size: 1.6em;
  font-style: italic;
}

/*V HEADER V*/
header{
  border: 1px dashed blue;
}
.summary{
  border: 1px dashed blue;
}


/*========Main Content Below====================================
V SECTION 1 V*/
.preamble{
  border: 1px solid red;
} 

/*V SECTION 2 V*/
.explanation{
  border: 1px solid blue;
  h3{margin-left: 49.2%;}
  p{margin-left: 49.2%;}
}

/*V SECTION 3 V*/
.participation{
  border: 1px solid pink;
}

/*V SECTION 4 V*/
.benefits{
  border: 1px solid yellow;
   h3{margin-left: 50%;}
  p{margin-left: 50%;}
}

/*V SECTION 5 V*/
.requirements{
  border: 1px solid orange;
}
/* ========Main Content Below====================================



/*V FOOTER V*/
footer{
  border: 1px dashed blue;
}

/*V ASIDE STUFF V*/
.design-selection{
  border: 3px dotted purple;
}

.design-archives{
  border: 3px dotted purple;
}

.zen-resources{
  border: 3px dotted purple;
}

