/*
Error: Invalid CSS after "	margin:": expected pseudoclass or pseudoelement, was " 0 auto"
        on line 104 of style.scss

99: 	}
100: 	// ^ SURF & PAD HEADING ^
101: 
102: section{
103: 	@extend %over_bor
104: 	margin: 0 auto;
105: 
106: 	// V ARTICLE V
107: 	article{
108: 		max-width: 45%;
109: 		.article_hd{

Backtrace:
style.scss:104
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/scss/parser.rb:1165:in `expected'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/scss/parser.rb:1101:in `expected'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/scss/parser.rb:1096:in `tok!'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/scss/static_parser.rb:277:in `pseudo'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/scss/static_parser.rb:160:in `simple_selector_sequence'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/scss/static_parser.rb:119:in `selector'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/scss/static_parser.rb:86:in `selector_comma_sequence'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/scss/parser.rb:1079:in `expr!'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/scss/static_parser.rb:20:in `parse_selector'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:250:in `visit_extend'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/stack.rb:79:in `block in with_base'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/stack.rb:115:in `with_frame'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/stack.rb:79:in `with_base'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:430:in `block (2 levels) in visit_rule'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:430:in `map'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:430:in `block in visit_rule'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:428:in `visit_rule'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/stack.rb:79:in `block in with_base'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/stack.rb:115:in `with_frame'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/stack.rb:79:in `with_base'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/plugin/compiler.rb:209:in `each'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.11/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/listen-2.8.5/lib/listen/listener.rb:282:in `call'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/listen-2.8.5/lib/listen/listener.rb:282:in `_process_changes'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/listen-2.8.5/lib/listen/listener.rb:246:in `block in _wait_for_changes'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/listen-2.8.5/lib/listen/listener.rb:229:in `loop'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/listen-2.8.5/lib/listen/listener.rb:229:in `_wait_for_changes'
/Users/bbledsoe/.rvm/rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/listen-2.8.5/lib/listen/listener.rb:318:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"	margin:\": expected pseudoclass or pseudoelement, was \" 0 auto\"\A         on line 104 of style.scss\A \A 99: 	}\A 100: 	// ^ SURF & PAD HEADING ^\A 101: \A 102: section{\A 103: 	@extend %over_bor\A 104: 	margin: 0 auto;\A 105: \A 106: 	// V ARTICLE V\A 107: 	article{\A 108: 		max-width: 45%;\A 109: 		.article_hd{"; }
