/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*======================
 v Background-Picker v
======================*/


body {
	background-image: url("surf_and_paddle.png");
	background-repeat: no-repeat;
	
}

/*===================
 v Header v
 ===================*/

header{
	width: 1300px;
	min-height: 524px;
	box-sizing: border-box;
	border: 1px solid red;
} 

/*
========================
Main Content
========================
*/



	section{
		display: inline-block;
		width: 650px;
		min-height: 1002px;
		box-sizing: border-box;
		border: 1px solid red;
		margin-left: 150px;
	}

	aside{
		display: inline-block;
		width: 310px;
		min-height: 1002px;
		box-sizing: border-box;
		border: 1px solid green;
		margin-left: 50px;
	}

		/*.left_section{
			width: 617px;
			height: 808px;
			border: 1px solid red;
			float: left;
			margin-top: 78px;
		}*/
			/*=========
			.left contents
			==========*/
				/*.left_section_header{
					width: 616px;
					height: 112px;
					border: 1px solid green;
						
				}


					.left_section_circle_pic{
						display: inline-block;
						width: 21px;
						height: 21px;
						margin-left: 4px;
						border: 1px solid green;
						border-radius: 50%;

					}

						.circle_header{
							display: inline-block;
							width: 186px;
							height: 21px;
							border: 1px solid green;
							margin-left: 83px;
							margin-top: 18px;

						}

				.article_para{
					margin-top: 31px;
					width: 616px;
					height: 200px;
					border: 1px solid green;

				}

					.para_emph{
						width: 616px;
						height: 108px;
						border: 1px solid green;
						text-align: left;
						font-size: 30px;
						border-left: 2px solid grey; 
					}

				.article_para_1{
					width: 616px;
					height: 306px;
					border: 1px solid green;*/

		/*=======
		right aside
		=========*/

			/*/*aside{
				width: 276px;
				height: 808px;
				border: 1px solid red;
				float: right;
				margin-top: 78px;

			}

				.profile_pic{
					width: 82px;
					height: 82px;
					margin-left: 98px;
					margin-right: auto;
					margin-top: 2px;
					border-radius: 50%;
					border: 1px solid green;

				}

				.social_networks{
					text-align: center;
					width: 276px;
					margin-top: 34px;
					border: 1px solid green;
				}

					.twitter, .facebook, .instagram{
						display: inline-block;
						border: 1px solid red;
						/*margin-right: 18px;
						margin-left: 18px;*/
				/*		vertical-align: top;

					}

					.facebook{
						margin-left: 18px;
						margin-right: 18px;
					}

				.paddle_boarder{
					width: 276px;
					height: 298px;
					border: 1px solid green;
					margin-top: 50px;
				}

					.about_this_paddle_boarder{
						float: right;
						width: 88px;
						height: 16px;
						border: 1px solid green;
						text-align: right;
						text-decoration: underline;
						margin-top: 2.5px;
					}

				.sidebar_sect_head {
					text-align: left;
					height: 18px;
					margin-top: 70px;
					border: 1px solid green;
				}

					.head_para{
						margin-top: 10px;
						height: 158px;
						border: 1px solid green;
					}*/

				


/*
=========================
Footer 
=========================
*/

/*footer{
	width: 1298px;
	height: 426px;
	border: 1px solid green;
}*/
